#conteneur {
    padding: 15px 15px;
}

/* LE TOP PAGE */
.top_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: auto;
    width: 80px;
}

.nav_bar {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.les_ancres {
    display: flex;
    align-content: center;
    list-style: none;
}

.ancre {
    padding: 0 20px;
}


/* LA RECHERCHE */
.la_recherche {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px;
}

.les_filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtres_button {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.button_filtre {
    padding: 0 20px;
}

.description_top {

}

/* LES HEBERGEMENT */

.hebergements {
    display: flex;
    justify-content: space-between;
}

.hebergement_ville {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    max-height: auto;
}

.hebergement_titre {
    display: flex;
    justify-content: flex-start;
}

.hebergement_photo {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-start;
}

.photo1 {
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
}